/* Footer */
.footer__productos {
    margin-top: 2%;
}

.footer__whatsapp {
    position: fixed;
    width: 60px;
    bottom: 10px;
    right: 10px;
    @media only screen and (max-width: 468px) {
        width: 45px;
    }
}

