@import "../base/variables";
@import "../base/mapas";

/* Header */
.nav-link {
    color: map-get($header-structure, color-header);
    font-size: map-get($header-structure,fonts-header);
    &:hover {
        color: map-get($header-structure, color-nav );
    }
}

.activeheader {
    text-shadow: map-get($header-structure,header-text-shadow);
    color: map-get($header-structure,color-nav);
    font-style: map-get($header-structure,font-header-style);
}