%text {
    text-decoration: none;
    font-size: x-large;
    color: $nav-color;
    align-self: center;
    margin-bottom: 2%;
}

%div {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}